# IDE
.idea/
.vscode/
*.iml

# Server binaries & installers
/Server/

# Lua language server
.luarc.json

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# FiveM Natives plugin stubs
.idea/fivem-stubs/
